/* GENERAL SETTINGS */


/* HEADER */

/*.main__menu {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to top #303030 #373737);
}*/


ul {
  font-family: Tahoma;
  font-size: 14px;
  background-color: #373737;
  /*background: linear-gradient(to bottom #fff #000) градиент не работает???*/
}

li
ul  {
    position: absolute;
    display: none;
    margin: 0 0 0 0;
}

li
a {
     display: inline-block;
     padding: 0 0 0 0;
     text-decoration: none;
     color: #fff;
}

li a:hover {
cursor: default;
}

li:hover
ul {
    display: block;
}

.triangle {
    padding-bottom: 2px;
}

/* MAIN */
.left__column {
  width: 100%;
  background-color: blue;
  float: left;
  position: relative;
  right: 50%;
}

.center__column {
  width: 100%;
  background-color: green;
  float: left;
  position: relative;
  right: 200px;
}

.right__column {
  width: 100%;
  background-color: yellow;
  float: left;
}

.left__sidebar {
  width: 210px;
  float: left;
  overflow: hidden;
  position: relative;
  left: 75%;
}

.content {
  width: 50%;
  /*height: 800px;*/
  float: left;
  overflow: hidden;
  position: relative;
  left: 75%;
}

.right__sidebar {
  width: 200px;
  float: left;
  overflow: hidden;
  position: relative;
  left: 75%;
}

/* FOOTER */
