/* GENERAL SETTINGS */
.wrapper {
  background: url('../img/background.png') repeat-x;
  margin: auto;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 4px 0 #000;
  margin: auto;
  width: 1000px;
}

/* HEADER */
header {
  background: url('../img/photo.png') no-repeat center;
  border-bottom: 1px solid #138aa7;
  height: 400px;
  padding-top: 50px;
  position: relative;
}

header
p {
  color: #128aa7;
  font-family: Tahoma;
  font-size: 12px;
}

.logo {
  background: url('../img/logo.png') no-repeat top;
  float: left;
  height: 74px;
  margin-left: 37px;
  padding-left: 72px;
  padding-top: 90px;
  text-align: left;
  width: 211px;
}

.contacts {
  margin-left: 842px;
  text-align: left;
}

figure {
  display: block;
  float: right;
  height: 42px;
  margin-right: 15px;
  margin-top: 50px;
  text-align: center;
  width: 53px;
}

figcaption {
  color: #128aa7;
  font-family: Tahoma;
  font-size: 10px;
  text-decoration: underline;
}

/* NAV */
.menu {
  background-color: #303030;
  box-shadow: 2px 4px 5px 0 #000;
  color: rgba(255, 255, 255, .8);
  font-family: Tahoma;
  font-size: 14px;
  padding-left: 50px;
  position: relative;
  width: 950px;
}

.menu
li {
  display: inline-block;
  line-height: 34px;
  padding: 0 25px;
}

.menu
a {
  color: rgba(255, 255, 255, .8);
  font-family: Tahoma;
  font-size: 14px;
  text-decoration: none;
}

.submenu
 {
  background-color: #303030;
  border-top: 1px solid #000;
  margin: 0 -10px;
  position: absolute;
  z-index: 1;
}

.submenu
li {
  display: none;
  padding: 0 10px;
}

li:hover
.submenu
li {
  display: block;
}

/* MAIN */
main {
  margin-top: 5px;
  overflow: hidden;
  position: relative;
}

main
.left {
  background-color: #edeef0;
  float: left;
  width: 209px;
  }

.right {
  background-color: #edeef0;
  float: right;
  width: 209px;
}

h2 {
  color: #424c43;
  font-family: Tahoma;
  font-size: 18px;
  margin-bottom: 8px;
  text-align: center;
  }

main
p {
  color: #424c43;
  font-family: Tahoma;
  font-size: 14px;
  line-height: 24px;
  margin-left: 15px;
  text-align: left;
}

.content {
  margin: 0 209px;
}

/* FOOTER */
footer
p {
  color: #fff;
  font-family: Tahoma;
  font-size: 12px;
  margin-top: 8px;
  opacity: .8;
  text-align: center;
}
